<div class="comment">
  <div class="content">
    <%= link_to user_path(message.user) do %>
      <div class='ui image label'>
        <%= image_tag (message.user.image_name) %>
        <%= message.user.username %>
      </div>
    <% end %>
    <div class="metadata">
      <span class="date"><%= time_ago_in_words(message.updated_at) %></span>
    </div>
    <div class="text">
      <%= message.body %>
    </div>
  </div>
</div> 