<div class="ui middle aligned center aligned grid">
  <div class="column">
   <div class="ui placeholder segment " >
      <div class="ui very relaxed stackable grid">
          <div class="column">
            <%= form_with(model: @user,class: "ui form", local: true) do |f| %>
              <div class="field">
                <%= f.label :username %>
                <div class="ui left icon input">
                  <%= f.text_field :username %>
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <%= f.label :password %>
                <div class="ui left icon input">
                  <%= f.password_field :password %>
                  <i class="lock icon"></i>
                </div>
              </div>
              <% if !@user.new_record? %>
              <div class="field">
                <%= f.label :description %>
                <div class="ui left icon input">
                  <%= f.text_area :description, size: "70x4" %>
                </div>
              </div>
                <%= f.label "Update you're avatar", style: "font-weight: bold" %>
                  <br><br>
                  <div class="ui mini images">
                    <div class="ui three column doubling grid container">
                      <div class="row centered">
                        <div class="two wide column">
                          <%= f.radio_button :image_name, "avatar" %>
                          <%= f.label :avatar, image_tag("avatar.png") %>
                        </div>
                        <div class="two wide column">
                          <%= f.radio_button :image_name, "avatar_2" %>
                          <%= f.label :avatar_2, image_tag("avatar_2.png") %>
                        </div>
                        <div class="two wide column">
                          <%= f.radio_button :image_name, "avatar_4" %>
                          <%= f.label :avatar_4, image_tag("avatar_4.png") %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui mini images">
                    <div class="ui three column doubling grid container">
                      <div class="row centered">
                        <div class="two wide column">
                          <%= f.radio_button :image_name, "avatar_5" %>
                          <%= f.label :avatar_5, image_tag("avatar_5.png") %>
                        </div>
                        <div class="two wide column">
                          <%= f.radio_button :image_name, "avatar_6" %>
                          <%= f.label :avatar_6, image_tag("avatar_6.png") %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <%= f.submit(@user.new_record? ? "Sign Up" : "update account" ,class: "ui orange submit button" )%>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>