<h2 class="ui header">Choose an avatars</h2>
<br><br><br><br>
<div class="ui small images">
  <%= form_with url:"/add_avatar", method: :get ,class: "ui form" do |f| %>
    <div class="ui three column doubling grid container">
      <div class="row centered">
        <div class="three wide column">
          <%= f.radio_button :image_name, "avatar" %>
          <%= f.label :avatar, image_tag("avatar.png") %>
        </div>
        <div class="three wide column">
          <%= f.radio_button :image_name, "avatar_2" %>
          <%= f.label :avatar_2, image_tag("avatar_2.png") %>
        </div>
        <div class="three wide column">
          <%= f.radio_button :image_name, "avatar_4" %>
          <%= f.label :avatar_4, image_tag("avatar_4.png") %>
        </div>
        <div class="three wide column">
          <%= f.radio_button :image_name, "avatar_5" %>
          <%= f.label :avatar_5, image_tag("avatar_5.png") %>
        </div>
        <div class="three wide column">
          <%= f.radio_button :image_name, "avatar_6" %>
          <%= f.label :avatar_6, image_tag("avatar_6.png") %>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="ui text container center aligned field">
      <%= f.submit "Sign Up" ,class: "ui orange submit button" %>
    </div>  
  <% end %>
</div>